

body {
    background-color: lightblue;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
#paragraph2{
    background-color: white;
    text-align: left;
    line-height: 1.5;
    padding: 10px 40px;
    border-style: solid;
    border-color: green;
    border-width: 4px;
    margin-left: 2%;
    margin-right: 40%;
}

.blue{
    background-color: darkblue;
    color: white;
    padding: 15px;
    border: 1px solid black;
}

a[target="_blank"]{
    color: darkred;
}

table{
    border-collapse: collapse;
    width: 700px;
}
table, th, td{
    border: 1px solid black;
    padding: 10px;
}
ol{
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
    
}


th{
    background-color: lightgrey;
}

td{
    background-color:white;
}
